{% extends "base.html" %}
{% block content %}
  <h1>Print Styles</h1>
  {% if print_style %}
     <h2>{{print_style}}</h2>
  {% endif %}
  <table>
    <tr>
      <th>Book</th>
      <th>print style</th>
      <th>recipie</th>
      <th>version</th>
      <th>baked timestamp</th>
    </tr>
    {% for style in styles %}
      <tr>
        <td>{{ style.name }}</td>
        <td>
          {% if print_style %}
            {{ style.print_style }}
          {% else %}
          <a href="/status/print-style-history/{{ style.print_style }}">
            {{ style.print_style }}
          </a>
          {% endif %}
        </td>
        <td>
          {{ style.recipe }}
        </td>
        <td>
          {% if print_style %}
          <a href="/status/print-style-history/{{ style.print_style }}/{{ style.version }}">
            {{ style.version }}
          </a>
          {% else %}
            {{ style.version }}
          {% endif %}
        </td>
        <td>{{ style.baked }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
